<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apartmant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Apartmant.Properties.Settings.ApartmentDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ApartmentDatabase.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Apartmant.Properties.Settings>
            <setting name="DateFormat" serializeAs="String">
                <value>th-TH</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ApartmentDatabase.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dbInstance" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>|DataDirectory|\ApartmentDatabase.mdf</value>
            </setting>
            <setting name="ciTime" serializeAs="String">
                <value>12:00</value>
            </setting>
            <setting name="apPassword" serializeAs="String">
                <value>1234</value>
            </setting>
        </Apartmant.Properties.Settings>
    </userSettings>
</configuration>   